/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Larger than mobile */
@media (min-width: 375px) and (max-width: 667px) {
  nav.desktop {
    display: none;
  }

  nav.mobile {
    display: block;
  }

  h3 {
    font-size: 1.6em;
  }

  img#hero-mountain {
    max-width: 350px;
  }

  #avatar {
    float: none;
    margin: 0 auto;
  }

  #about-me {
    padding: 40px 5px;
  }

  #about-me h3 {
    margin: 60px 0 60px 0px;
    text-align: center;
  }

  .employers {
    height: 127px;
  }

  #shopify {
    height: 30px;
  }

  #apple {
    height: 30px;
  }

  #lemonstand {
    height: 23px;
  }

  .showcase {
    padding: 40px 0 0 0;
  }

  .ui-tabs-vertical .ui-tabs-nav {
    width: 100%;
    padding: 0 0 60px 0;
  }

  .ui-tabs-vertical .ui-tabs-nav li {
    clear: none;
    margin: 0;
    padding: 0;
    width: 33%;
    text-align: center;
  }

  .ui-tabs-vertical .ui-tabs-nav li:hover {
    border-right: none;
    border-bottom: 5px solid;
  }

  .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    border-right: none;
    border-bottom: 5px solid;
  }

}

/* Larger than phablet (also point when grid becomes active) */
/*@media (min-width: 569px) and (max-width: 736px) {

}*/

@media (min-width: 668px) and (max-width:993px) {
  #about-me p {
    padding: 0 40px;
  }
}

@media (min-width: 994px) {
  #about-me p {
    padding: 0 40px;
  }

  footer p {
    text-align: left;
    padding: 21px 0 0 0;
  }
}

/* Larger than desktop */
/*@media (min-width: 1000px) {

}

/* Larger than Desktop HD */
/*@media (min-width: 1200px) {}*/
