
/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.project {
  margin: 70px 0 0 0;
  float: none;
}

.project h1 {
  font-weight: 300;
}

.project p {
  padding: 27px 24px 0 12px;
}

.project a {
  padding: 0 0 0 0;
  margin: 6px 0 0 12px;
  position: absolute;
  text-decoration: underline;
}

.project a:hover {
  color: #58B3AF;
}

.project ul {
  padding: 22px 22px 0 22px;
}

.project li {
  list-style-type: none;
}

.project img {
  width: 100%
}

#project-icon {
  width: 33px;
}

#details {
  background-color: #F7F7F7;
  margin: 38px 12px 40px 0;
}

#details p {
  padding: 0 22px 12px 22px;
  font-size: 1em;
}

#divider {
  background-color: #58B3AF;
  height: 3px;
  margin-bottom: 28px;
}


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
