/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 95%;
  margin: 0 auto;
  padding: 0;
}

.row  {
  margin-left: auto;
  margin-right: auto;
  /*margin-bottom: 20px;*/
 }

.col {
  width: 100%;
  float: left;
  box-sizing: border-box; }

.center {
  text-align: center;
}

/* For devices smaller than 568px */

@media only screen and (max-width: 750px) {

  .col.s1                  { width: 8.33333333334%; }
  .col.s2                  { width: 16.6666666667%; }
  .col.s3                  { width: 25%;            }
  .col.s4                  { width: 33.3333333333%; }
  .col.s5                  { width: 41.6666666667%; }
  .col.s6                  { width: 50%;            }
  .col.s7                  { width: 58.3333333334%; }
  .col.s8                  { width: 66.6666666667%; }
  .col.s9                  { width: 75.0%;          }
  .col.s10                 { width: 82.3333333333%; }
  .col.s11                 { width: 91.6666666667%; }
  .col.s12                 { width: 100%; }

  .col.s33                 { width: 33.3333333333%; }
  .col.s66                 { width: 66.6666666667%; }

  .col.s50                 { width: 50%; }

  /* Offsets */
  .offset-s1               { margin-left: 8.33333333334%; }
  .offset-s2               { margin-left: 16.6666666667%; }
  .offset-s3               { margin-left: 25%;            }
  .offset-s4               { margin-left: 33.3333333333%; }
  .offset-s5               { margin-left: 41.6666666667%; }
  .offset-s6               { margin-left: 50%;            }
  .offset-s7               { margin-left: 58.3333333334%; }
  .offset-s8               { margin-left: 66.6666666667%; }
  .offset-s9               { margin-left: 75.0%;          }
  .offset-s10              { margin-left: 82.3333333333%; }
  .offset-s11              { margin-left: 91.6666666667%; }

  .offset-s33              { margin-left: 33.3333333333%; }
  .offset-sl66             { margin-left: 66.6666666666%; }

  .offset-s50              { margin-left: 50%; }
}

/* For devices larger than 569px and smaller than 736px */
@media (min-width: 751px) and (max-width: 993px){
  .container {
    width: 95%;
    padding: 0;
  }

  .col.m1                  { width: 8.33333333334%; }
  .col.m2                  { width: 16.6666666667%; }
  .col.m3                  { width: 25%;            }
  .col.m4                  { width: 33.3333333333%; }
  .col.m5                  { width: 41.6666666667%; }
  .col.m6                  { width: 50%;            }
  .col.m7                  { width: 58.3333333334%; }
  .col.m8                  { width: 66.6666666667%; }
  .col.m9                  { width: 75.0%;          }
  .col.m10                 { width: 82.3333333333%; }
  .col.m11                 { width: 91.6666666667%; }
  .col.m12                 { width: 100%; }

  .col.m33                 { width: 33.3333333333%; }
  .col.m66                 { width: 66.6666666667%; }

  .col.m50                 { width: 50%; }

  /* Offsets */
  .offset-m1               { margin-left: 8.33333333334%; }
  .offset-m2               { margin-left: 16.6666666667%; }
  .offset-m3               { margin-left: 25%;            }
  .offset-m4               { margin-left: 33.3333333333%; }
  .offset-m5               { margin-left: 41.6666666667%; }
  .offset-m6               { margin-left: 50%;            }
  .offset-m7               { margin-left: 58.3333333334%; }
  .offset-m8               { margin-left: 66.6666666667%; }
  .offset-m9               { margin-left: 75.0%;          }
  .offset-m10              { margin-left: 82.3333333333%; }
  .offset-m11              { margin-left: 91.6666666667%; }

  .offset-m33              { margin-left: 33.3333333333%; }
  .offset-ml66             { margin-left: 66.6666666666%; }

  .offset-m50              { margin-left: 50%; }
}

/* For devices larger than 737px */
@media (min-width: 994px) {
  .container {
    max-width: 960px;
  }
  .col {
    margin-left: 0%; }

  .col.l1                  { width: 8.33333333334%; }
  .col.l2                  { width: 16.6666666667%; }
  .col.l3                  { width: 25%;            }
  .col.l4                  { width: 33.3333333333%; }
  .col.l5                  { width: 41.6666666667%; }
  .col.l6                  { width: 50%;            }
  .col.l7                  { width: 58.3333333334%; }
  .col.l8                  { width: 66.6666666667%; }
  .col.l9                  { width: 75.0%;          }
  .col.l10                 { width: 82.3333333333%; }
  .col.l11                 { width: 91.6666666667%; }
  .col.l12                 { width: 100%; }

  .col.33                  { width: 33.3333333333%; }
  .col.66                  { width: 66.6666666667%; }

  .col.50                  { width: 50%; }

  /* Offsets */
  .offset-l1               { margin-left: 8.33333333334%; }
  .offset-l2               { margin-left: 16.6666666667%; }
  .offset-l3               { margin-left: 25%;            }
  .offset-l4               { margin-left: 33.3333333333%; }
  .offset-l5               { margin-left: 41.6666666667%; }
  .offset-l6               { margin-left: 50%;            }
  .offset-l7               { margin-left: 58.3333333334%; }
  .offset-l8               { margin-left: 66.6666666667%; }
  .offset-l9               { margin-left: 75.0%;          }
  .offset-l10              { margin-left: 82.3333333333%; }
  .offset-l11              { margin-left: 91.6666666667%; }

  .offset-l33              { margin-left: 33.3333333333%; }
  .offset-l66              { margin-left: 66.6666666666%; }

  .offset-l50              { margin-left: 50%; }
}



/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Muli', Helvetica, Arial, sans-serif;
  /*font-family: "futura-pt", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  color: #ffffff; }


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 2.25em; line-height: 1.2;  }
h2 { font-size: 1.5em; line-height: 1.25;  }
h3 { font-size: 1.6rem; line-height: 1.3;  }
h4 { font-size: 2.4rem; line-height: 1.35; }
h5 { font-size: 1.8rem; line-height: 1.5;  }
h6 { font-size: 1.5rem; line-height: 1.6;  }

/* Larger than phablet */
@media (min-width: 737px) {
  h1 { font-size: 2.25em; }
  h2 { font-size: 1.5em; }
  h3 { font-size: 1.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0; }


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #ffffff;
  text-decoration: none;
 }
a:hover {
  color: #ffffff; }


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  width: 300px;
  height: 38px;
  /*padding: 10px;*/
  color: #58B3AF;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 2px solid #58B3AF;
  /*border-radius: 4px;*/
  /*border: 1px solid #bbb;*/
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Clearing */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }
